<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">LL</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">BLANK <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">BLANK</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Switch", "ViewCharacter", new {Id = 0}, null)</li>
                            <li>@Html.ActionLink("Raptor", "ViewCharacter", new {Id = 1}, null)</li>
                            <li>@Html.ActionLink("Candyman", "ViewCharacter", new { Id = 2 }, null)</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Home", "Index", "Home", null, null)</li>
                            <li>@Html.ActionLink("About", "About", "Home", null, null)</li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("About", "About", "Home", null, null)</li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="/js/jquery-3.0.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>